<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Regression Testing">
        <classes>
            <class name="tests.CustomerAddTest"/>
            <class name="tests.OpenAccountTest"/>
        </classes>
    </test>
</suite>